input[type=text], input[type=password] {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border: 2px solid #eee;
  font-family: inherit;
  font-size: inherit;
  display: block;
}

button {
  padding: 5px;
  margin: 5px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  border: 2px solid #eee;
}

button:hover {
  cursor: pointer;
}
